.MenuCard__container {
  width: 265px;
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 2rem;
  margin-top: 1rem;


}


.MenuCard__imagebox img {
  border-radius: 16px 16px 0px 0px;
  width: 265px;
  height: 185px;
  box-sizing: border-box;
}

.MenuCard__details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
    padding: 1rem;
    margin-top: -.4rem;
  background: var(--bg-secondary-gray);
  max-width: 265px;
  height: 200px;
  position: relative;

}

.MenuCard__dish-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: -1rem;
}

.MenuCard__dish-price p {
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 90%;
  margin-top: 1.5rem;
}

.MenuCard__dish-price p:nth-child(2) {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 90%;
  color: var(--bg-secondary-brown);
  margin-top: 1.6rem;
}

.MenuCard__description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: var(--bg-primary-green);
}

.MenuCard__order{
    font-family: var(--font-family);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

margin-bottom: -1rem;
position: absolute;

bottom: 2rem;

}
