.llemon__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  gap: 9%;
}

.llemon__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.llemon__navbar a{
  text-decoration: none;
}
.llemon__navbar-links p {
  text-decoration: none;
}
.llemon__navbar-links p:hover {
  color: var(--bg-primary-yellow);
}
.llemon__navbar-links p:visited {
  text-decoration: none;
}
.llemon__navbar-links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.llemon__navbar-links_container p,
.metabnb__navbar-menu_container-links p {
  color: #434343;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  margin: 0 1rem;
  cursor: pointer;
}

.llemon__navbar img {
  width: 233px;
  height: 36.67px;
  cursor: pointer;
}

.llemon__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.llemon__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #ffffff;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: #434343;
  z-index: 1;
}

.llemon__navbar-menu_container-links p {

  margin: 1rem 0;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1280px) {
  .llemon__navbar-links_container p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1050px) {
  .llemon__navbar-links_container {
    display: none;
  }
  .llemon__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .llemon__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .llemon__navbar {
    padding: 2rem;
  }

  .llemon__navbar-menu_container {
    top: 20px;
  }
}
