:root{
    --font-family: 'Karla', sans-serif;
    --font-family2: 'Markazi Text', serif;
    --bg-primary-green: #496e57;
    --bg-primary-yellow: #f4ce14;
    --bg-secondary-gray: #edefee;
    --bg-secondary-dark: #333333;
    --bg-secondary-brown: #ee9972;
    --bg-secondary-light: #edefee;
}